<!-- index.html -->
{% extends "base.html" %}
{% block title %}Inicio{% endblock %}


{% block content %}
<h1 class="text-4xl font-bold mb-6 neon">Subastas Activas</h1>


<div id="lista-subastas" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"></div>


<script>
async function cargarSubastas() {
const res = await fetch("/subastas/");
const data = await res.json();


const cont = document.getElementById("lista-subastas");
cont.innerHTML = "";


if (data.length === 0) {
cont.innerHTML = `<p class='text-gray-300'>No hay subastas activas por ahora.</p>`;
return;
}


data.forEach(s => {
cont.innerHTML += `
<div class="card p-5 rounded-xl shadow-lg">
<h2 class="text-2xl font-bold mb-2">${s.titulo}</h2>
<p class="text-gray-300">${s.descripcion}</p>
<p class="mt-4 font-semibold">Precio actual: <span class="text-cyan-300">$${s.precio_actual}</span></p>
<a href="/subasta/${s.id}" class="mt-4 inline-block bg-cyan-500 hover:bg-cyan-600 text-black font-semibold px-4 py-2 rounded-lg">Ver detalles</a>
</div>
`;
});
}


cargarSubastas();
</script>
{% endblock %}